/*generics*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
   width: 100%;

}

.clearfix::after{
    display: table;
    clear: both;
    content: "";
}

body{
    font-family: 'Open Sans', sans-serif;
}

/*utilities*/

header{
    position: fixed;
    width: 100%;
    
}

.hbg{
    background-color: #fff;
    height: 100px;
    line-height: 100px;
    vertical-align: middle;
}

.col{
    float:left;
}

.colr{
    float: right;
    text-align: right;
}

button{
    padding: 5px 15px;
    font-family: 'Open Sans', sans-serif;
}

.btn-b{
    background-color: #0061ff;
    color:white;
    border: none;
}

/*header*/

.nav{
    display: inline-block;
}

.txtl{
   text-align: left;
}

.txtr{
    text-align: right;
}


a{
    text-decoration: none;
    margin: 0 20px;
    color: black;
    font-size: 15px;
}

a:hover{
    text-decoration: underline;
}

.w50{
    width: 50%;
    padding: 0 10px;
}

#logo{
    vertical-align: middle;
}

/*sezione-1*/
.section-lb{
    padding: 0 150px;
}

#presentation{
    background-color: #b4d0e7;
    height: 885px;
}

.w30{
    width: 30%;
}

.w70{
    background-image: url(../img/jumbo.png);
    height: 500px;
    width: calc(70% - 50px);
    background-size: contain;
    background-repeat: no-repeat;
}

#all-u-need{
    padding-top: 150px;
    font-size: 100px;
    font-weight: bold;
}

.space{
    margin: 50px 0;
}

.freetrial, .s1, #block, .arrow{ 

  margin: 0 30px; 
}

.freetrial{
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 5px;
}

.s1{
    font-size: 16px;
}

#block{
    font-size: 13px;
    margin-top: 5px;
}

.arrow{
  font-size: 40px ;
  margin-top: 40px;
}

/*sezione2*/

#subscribe{
    margin-left: 70px;
   
}

.section-subscribes{
    margin-top: 200px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 20px;
}

h2{
    font-size: 40px;
}

#search-your-plan{
    padding-left: 30px;
}

.w30ss{
    width: calc(30% - 57px);
    height: 1200px;
    margin: 30px;
    border: solid 2px lightgrey;
}

.type{
    text-align: center;
    margin: 8px 0;
}

.divide-b{
    color:lightgrey;
    border: solid 0.5px lightgrey;
}



.type-of-plan{
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: 40px;
}

.icns{
    margin-left: 3px;
    margin-bottom: 33px;
}

.things{
    display: inline-block;

}

.smaller{
    width: 80%;
    float: left;
    margin-bottom: 30px;
    margin-left: 4px;
}

.w10{
    margin-left: 40px;
}

.things{
    margin-left: 4px;
    margin-bottom: 30px;
}

.whidther{
    margin-top: 30px;
    padding: 10px 70px;
    margin-left: 40px;
}

.buy-now{
    color: #0061ff;
    text-decoration: underline;
}

.buy-now:hover{
    cursor: pointer;
}

.or-buy{
    margin-left: 40px;
    margin-top: 30px;
}

.small-lg{
    color:lightgrey;
    border: solid 0.5px lightgrey;
    width: 15%;
    margin-top: 30px;
    margin-left: 40px;
}

.none{
    list-style-type: none;
}

.fa-check{
    color: #0061ff;
    margin-right: 3px;
}

.check{
    margin-left: 40px;
    margin-top: 30px;
}

.transfert{
    margin-left: 18px;
}

.plans-points{
    margin-top: 30px;
}

.points{
    margin-left: 40px;
}

.w90{
    width: 75%;
}

.folder{
    margin-top: 35px;
}

.w10{
    width: 7%;
}

.standard{
    padding-bottom: 30px;
}

.fa-user-plus{
    padding-left: 5px;
}

.cost{
    font-weight: bolder;
}

.pay-time{
    font-size: 13px;
    color: grey;
}

#border-lb-5px{
    font-size: 6px;
    padding: 1px 5px ;
    background-color: #fff;
    border: solid 5px #0061ff;
    border-radius: 50%;
    line-height: 6px;
    vertical-align: middle;
}

.type-of-payment{
    padding-left: 10px;
}

.monthly, .annual{
    padding-top: 50px;
    display: inline-block;
    margin-left: 30px;
    margin-bottom: 10px;
}

#border-lg-2px{
    font-size: 12px;
    padding: 1px 9px ;
    background-color: #fff;
    border: solid 2px lightgrey;
    border-radius: 50%;
    line-height: 6px;
    vertical-align: middle;
}

.contacts{
    width: 68.5%;
    border: solid 2px lightgrey;
    height: 200px;
    margin-left: 300px;
    margin-bottom: 200px;
    margin-top: 30px;
}

#enterprise, #contact, #solutions{
    margin-left: 30px;
}

#enterprise{
    margin-top: 30px;
    font-weight: bolder;
    font-size: 20px;
}

#contact{
    margin-top: 15px;
    font-weight: bold;
    font-size: 13px;
}

#solutions{
    margin-top: 30px;
    font-size: 13px;
}